{% extends "base.html" %}

{% block title %}
	Batch Graphs
{% endblock title %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab=type %}
{% endblock tabs %}

{% block content %}

	

	<div class="text-center">
		<h3>Frequent One Itemset</h3>
		<img class="img-responsive" alt="Image" src="{%url 'adminpanel:generate-batchwise-barchart' "localfrequent" 1 %}"/>
	</div><br/>
	<div class="text-center">
		<h3>Frequent Two Itemset</h3>
		<img class="img-responsive col-sm-12" alt="Image" src="{%url 'adminpanel:generate-batchwise-barchart' "globalfrequent" 1 %}"/>
	</div><br/>


	

	
{% endblock content %}