{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" 
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock stylesheets %}

{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" 
	src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>	
{% endblock scripts %}

{% block content %}
	<div class="col-sm-offset-2 col-md-offset-1">
		<a href="{% url 'adminpanel:add-customer' %}">
			Add Customer
			<span class="glyphicon glyphicon-plus" aria-hidden="true"/>
		</a>
	</div>
	<br/>
	<div class="container">
		<table class="table table-hover table-bordered " id="customerTable">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Join Date</th>
					<th>Last Accessed</th>
					<th>Subscribed</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customer_list  %}
					<tr>
						<td>{{customer.first_name}}</td>
						<td>{{customer.last_name}}</td>
						<td>{{customer.email_id}}</td>
						<td>{{customer.join_date}}</td>
						<td>{{customer.last_modified}}</td>
						<td>
							{% if customer.subscribe  %}
								Yes
							{% else %}
								No
							{% endif %}
						</td>
						<td>
							<a href="{% url 'adminpanel:update-customer' customer.pk %}">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"/>
							</a>
						</td>
						<td>
							<a href="{% url 'adminpanel:delete-customer' customer.pk %}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"/>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


<script>
$(document).ready(function(){
    $('#customerTable').dataTable();
});
</script>
{% endblock content %}