{% extends "base.html" %}


{% block stylesheets %}
	<link rel="stylesheet" 
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock stylesheets %}

{% block scripts %}
	<script type="text/javascript" 
	src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>	
{% endblock scripts %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab='discount_list' %}
{% endblock tabs %}


{% block content %}
	<div class="container">
		<table class="table table-hover table-bordered dt-responsive" id="discountTable">
			<thead>
				<tr>
					<th>Left Side</th>
					<th>Right Side</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for discount in discount_list  %}
					<tr>
						<td>
							{{ discount.left_item1.item_name }}
							{% if discount.left_item2 != None  %}
									,{{discount.left_item2.item_name}}
							{% endif %}
						</td>
						<td>
							{{ discount.right_item1.item_name }} 
							{% if discount.right_item2 != None  %}
									,{{discount.right_item2.item_name}}
							{% endif %}
						</td>
						
						<td>
							<a href="{% url 'adminpanel:update-discount' discount.pk %}">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"/>
							</a>
						</td>
						<td>
							<a href="{% url 'adminpanel:delete-discount' discount.pk %}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"/>
							</a>
						</td>
						<td>
							<form action="{% url 'adminpanel:send-discount-mail' %}" method="POST" role="form">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="discount_left" 
									value="{{discount.left_item1.item_name }}{% if discount.left_item2 != None  %},{{discount.left_item2.item_name}}{% endif %}">
								<input type="hidden" class="form-control" name="discount_right" 
									value="{{discount.right_item1.item_name }}{% if discount.right_item2 != None  %},{{discount.right_item2.item_name}}{% endif %}"
								>
								
								<button type="submit" class="btn btn-danger">
									Send Mail
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% block delete %}
	
{% endblock delete %}

<script>
$(document).ready(function(){
    $('#associationTable').dataTable();
});
</script>
{% endblock content%}



</form>