{% extends "AdminPanel/discount_list.html" %}

{% block content %}
	<br/><br/>
	<div class="modal show" id="discount">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Are you sure you want to delete discount number {{object.pk}}</h4>
				</div>
				<div class="modal-footer">

					<form action="" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary" value="Confirm">Yes</button>
					</form>

				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}