{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab='home' %}
{% endblock tabs %}

{% block content %}
	
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Welcome To D-BASKET</h1>
			<p>
				<a class ="btn btn-primary btn-lg " href="{% url 'adminpanel:runclient' %}">
					Run Apriori Client
					<span class="glyphicon glyphicon-play" aria-hidden="true"/>
				</a>
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="container col-md-offset-1 col-md-3">
	  		<div class="well text-center">
	  			<b>Total Transactions Scanned</b><br/>
				<h1>{{stats_object.rows_scanned}}</h1>
	  		</div>
		</div>
		<div class="container col-md-3">
	  		<div class="well text-center">
	  			<b>Run Time</b><br/>
				<h1>{{stats_object.run_time}}</h1> secs
				

	  		</div>
		</div>

	</div>

{% endblock content %}