{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab='home' %}
{% endblock tabs %}

{% block content %}
	
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Welcome To D-BASKET</h1>
			<p>
				<a class ="btn btn-primary btn-lg " href="{% url 'adminpanel:runclient' %}">
					Run Apriori Client
					<span class="glyphicon glyphicon-play" aria-hidden="true"/>
				</a>
			</p>
		</div>
	</div>
	
	<div class="text-center">
		<h3>Frequent One Itemset</h3>
		<img class="img-responsive" alt="Image" src="{%url 'adminpanel:generate-barchart' 1 %}"/>
	</div><br/>
	<div class="text-center">
		<h3>Frequent Two Itemset</h3>
		<img class="img-responsive col-sm-12" alt="Image" src="{%url 'adminpanel:generate-barchart' 2 %}"/>
	</div><br/>
	<div class="text-center">
		<h3>Frequent Three Itemset</h3>
		<img class="img-responsive col-sm-12" alt="Image" src="{%url 'adminpanel:generate-barchart' 3 %}"/>
	</div>

{% endblock content %}