{% extends "base.html" %}
{% block title %}
	Item
{% endblock title %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab='add-item' %}
{% endblock tabs %}

{% block content %}
<div class="panel panel-default col-md-offset-3 col-md-5">
	<div class="panel-body col-sm-12">
		<form action="" method="POST" role="form">
			{% csrf_token %}
			<legend>Add/Update Item</legend>
		
			{% include "AdminPanel/form_template.html" %}
		
			
			<button type="submit" class="btn btn-primary  col-md-offset-5">Submit</button>
		</form>
	</div>
</div>
{% endblock content %}