{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" 
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock stylesheets %}

{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" 
	src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>	
{% endblock scripts %}

{% block tabs %}
	{% include "AdminPanel/tabs.html" with active_tab='list-items' %}
{% endblock tabs %}


{% block content %}

	<div class="col-xs-offset-4 col-md-offset-9">
		<a class ="btn btn-danger" href="{% url 'adminpanel:add-item' %}">
			Add Item
			<span class="glyphicon glyphicon-plus" aria-hidden="true"/>
		</a>
	</div>
	<br/>
	
	<div class="container">
		<table class="table table-hover table-bordered " id="itemTable">
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Stock</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in item_list  %}
					<tr>
						<td>{{item.item_name}}</td>
						<td>{{item.stocks}}</td>
						<td>
							<a href="{% url 'adminpanel:update-item' item.pk %}">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"/>
							</a>
						</td>
						<td>
							<a href="{% url 'adminpanel:delete-item' item.pk %}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"/>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


<script>
$(document).ready(function(){
    $('#itemTable').dataTable();
});
</script>
{% endblock content %}