<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'adminpanel:home' %}">
					<span class="glyphicon glyphicon-home">&nbsp;</span>
					D-Basket
				</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			{% if user.is_authenticated  %}
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					{% block tabs %}
						
					{% endblock tabs %}
			{% endif %}
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated  %}
							<li>
								<a>Welcome {{user.username}}</a>
								
							</li>
							<li>
								<a href="/accounts/logout">
									<span class="glyphicon glyphicon-off">&nbsp;</span>Logout
								</a>
							</li>
						{% else %}
							<li>
								<a href="/accounts/login">
									Login
								</a>
							</li>
							<li><a href="/accounts/register">Register</a></li>
						{% endif %}
					</ul>
				</div>

			
		</div>
</nav>