<ul class="nav navbar-nav">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Graphs&nbsp;&nbsp;
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li class="{% if active_tab == 'bar' %} active{% endif %}">
				<a href="{% url 'adminpanel:generate-graph' "bar" %}">
					<span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Bar Graph&nbsp;&nbsp;
				</a>
			</li>
			<li class="{% if active_tab == 'batchwise_statistics' %} active{% endif %}">
				<a href="{% url 'adminpanel:generate-batchwise-statistics' %}">
					<span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Batch Statistics&nbsp;&nbsp;
				</a>
			</li>
			<li class="{% if active_tab == 'batchwisecompare' %} active{% endif %}">
				<a href="{% url 'adminpanel:batchwise-compare' %}">
					<span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Compare Batches&nbsp;&nbsp;
				</a>
			</li>
		</ul>
	</li>
	<li class="{% if active_tab == 'association_rules' %} active{% endif %}" >
		<a href="{% url 'adminpanel:association_rules' %}" >
			<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Association Rules&nbsp;&nbsp;
		</a>
		
	</li>
	<li class="{% if active_tab == 'discount_list' %} active{% endif %}" >
		<a href="{% url 'adminpanel:list-discounts' %}" class="" >
			<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Discount Offers&nbsp;&nbsp;
		</a>
		
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			Transaction
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li class="{% if active_tab == 'add-transaction' %} active{% endif %}">
				<a href="{% url 'adminpanel:add-transaction' %}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Transactions&nbsp;&nbsp;
				</a>
			</li>
			<li class="{% if active_tab == 'list-transactions' %} active{% endif %}">
				<a href="{% url 'adminpanel:list-transactions' %}">
					<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;List Transactions
				</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-user"></span>
			Customers
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li class="{% if active_tab == 'add-customer' %} active{% endif %}">
				<a href="{% url 'adminpanel:add-customer' %}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Customers&nbsp;&nbsp;
				</a>
			</li>
			<li class="{% if active_tab == 'list-customers' %} active{% endif %}">
				<a href="{% url 'adminpanel:list-customers' %}">
					<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;List Customers
				</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-list"></span>
			Items
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li class="{% if active_tab == 'add-item' %} active{% endif %}">
				<a href="{% url 'adminpanel:add-item' %}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Items&nbsp;&nbsp;
				</a>
			</li>
			<li class="{% if active_tab == 'list-items' %} active{% endif %}">
				<a href="{% url 'adminpanel:list-items' %}">
					<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;List Items
				</a>
			</li>
		</ul>
	</li>
</ul>
