{% extends "AdminPanel/transaction_list.html" %}

{% block content %}
	<div class="row">
	<div class="modal show" id="customer">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<a href="{% url 'adminpanel:list-transactions' %}">&times;</a>
					</button>
					<h4 class="modal-title">Are you sure you want to delete transaction {{object.pk}} ?</h4>
				</div>
				<div class="modal-footer">

					<form action="" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary" value="Confirm">Yes</button>
					</form>

				</div>
			</div>
		</div>
	</div>
	</div>
	
{% endblock content %}