{% extends "base.html" %}
{% load i18n %}

{% block content %}

<br/><br/>
<div class="panel panel-default col-md-offset-3 col-md-5">
		<div class="panel-body col-sm-12">
			<form action="." method="POST" role="form">
				<legend>Admin Login</legend>
				{% csrf_token %}
				<div class="form-group">
					{{form.as_p}}
			  		<input type="hidden" name="next" value="{{ next }}" />
				</div>
				<input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
			</form>
		</div>
	</div>

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3 text-align-center'>
		<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
		<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
	</div>
</div>
{% endblock %}
