{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}

	<div class="panel panel-default col-md-offset-3 col-md-5">
		<div class="panel-body col-sm-12">
			<form action="." method="POST" role="form">
				<legend>Admin Registration</legend>
				{% csrf_token %}
				<div class="form-group">
					{{form.as_p}}
					<br/>
					<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4">Submit</button>
				</div>

			</form>
		</div>
	</div>

{% endblock content%}
